.p{

    font-size: xx-small;
}
.card{
height: 20px;

}
.card2{
    margin-left: 320px;
    display:flex; 
}
.card3{
    margin-left: 640px;
    display:flex; 
}
.card4{
    margin-left: 955px;
    display:flex; 
}




